*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Verydarkblue: hsl(212, 21%, 14%);
--Darkgrayishblue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);

}

body{
  background-color: var(--Cream);
  font-family: 'Montserrat', sans-serif;
}
main{
  min-height: 100vh;
}
p{
  font-size:14px;
  color: var(--Darkgrayishblue);
}
.img-bg{
  height: 100%;
}
.img-bg img{
 width: 100%;
object-fit: contain;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;


}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  border-radius: 10px;
}

.img-details{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;

 
}

.img-details p{
  font-weight: 500;
  font-size: large;
}

h2{
  font-family: 'Fraunces', serif;
  font-size: xx-large;
  color: var(--Verydarkblue);

}

button{
  outline:none;
  border:none;
  cursor:pointer;
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  color: var(--White);
  background-color: var(--Darkcyan);
  font-family: 'Montserrat', sans-serif;

}
.percent-off{
  font-size: 48px;
  color: var(--Darkcyan);
  font-weight: 700;
  font-family: 'Fraunces', serif;

}

.intial-price{
  text-decoration: line-through;
  font-size: small;
}